.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.log
*.bak           
/data/
*.npy
*.zip
*.h5
*.hdf5
*.ckpt
*.model
*.py
!models.py
!data.py
# Allow specific tracked files
!train_metadata.csv
!test_metadata.csv

